# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Maven build folders
target/
*/target/
core/target/
ejb/target/
web/target/
ear/target/

# IntelliJ IDEA specific files
.idea/
*.iml